argparse==1.2.1
boto==2.6.0
Django==1.5.1
# django-bootstrap-pagination==1.0.7
django-crispy-forms==1.2.0
django-debug-toolbar==0.9.4
django-extensions==0.9
django-haystack==2.0.0-beta
django-nose==1.1
django-registration==0.9b1
django-social-auth==0.7.9
django-storages==1.1.5
django-taggit-autosuggest==0.2
dj-database-url==0.2.1
-e git+https://github.com/alex/django-taggit.git@6f844384cbf587729da1837a89b8d9352c873375#egg=django_taggit-dev
gunicorn==0.15.0
ipython==0.13.1
nose==1.2.1
PIL==1.1.7
psycopg2==2.4.5
pyelasticsearch==0.2
PyYAML==3.10
requests==0.14.1
South==0.7.6
unicode-slugify==0.1
Unipath==0.2.1
wsgiref==0.1.2
yolk==0.4.3
