Django==1.5.1
boto==2.6.0
django-crispy-forms==1.2.0
django-debug-toolbar==0.9.4
django-extensions==0.9
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
git+https://github.com/tgdn/django-bootstrap-pagination.git#egg=django-bootstrap-pagination
django-nose==1.1
git+https://github.com/daonb/django-social-auth.git#egg=django-social-auth
django-storages==1.1.5
django-taggit-autosuggest==0.2
dj-database-url==0.2.1
git+https://github.com/alex/django-taggit.git@6f844384cbf587729da1837a89b8d9352c873375#egg=django_taggit-dev
gunicorn==0.15.0
ipython==0.13.1
nose==1.3.0
PIL==1.1.7
psycopg2==2.4.5
pyelasticsearch==0.2
PyYAML==3.10
requests==0.14.1
South==0.7.6
unicode-slugify==0.1
Unipath==0.2.1
wsgiref==0.1.2
yolk==0.4.3
django-flatblocks==0.7.0
selenium
mock
-e hg+https://bitbucket.org/alper/django-registration@1cddccb187ed865fd28599f0de2cc063cfa8c55a#egg=django-registration
-e git+https://github.com/daonb/django-entities#egg=django-entities
django-uuidfield
django-autoslug
-e git+https://github.com/daonb/django-chosen.git#egg=django-chosen
django-modeltranslation
whoosh==2.4
