Django==1.4.2
PIL==1.1.7
PyYAML==3.10
South==0.7.6
Unipath==0.2.1
argparse==1.2.1
boto==2.6.0
distribute==0.6.24
dj-database-url==0.2.1
django-bootstrap-pagination==1.0.7
django-crispy-forms==1.2.0
django-debug-toolbar==0.9.4
django-extensions==0.9
django-haystack==2.0.0-beta
django-nose==1.1
django-registration==0.8
django-social-auth==0.7.9
django-storages==1.1.5
django-taggit==0.9.3
gunicorn==0.15.0
httplib2==0.7.6
ipython==0.13.1
nose==1.2.1
oauth2==1.5.211
psycopg2==2.4.5
pyelasticsearch==0.2
python-openid==2.2.5
requests==0.14.2
unicode-slugify==0.1
wsgiref==0.1.2
yolk==0.4.3
