{% extends 'base.html' %}
{% load i18n %}
{% block extrahead %}
  <style>
    .navbar-search { display: none; }
  </style>
{% endblock %}

{% block mainContainer %}
    <form method="get" action=".">
        <div class="search-bar">
            {{ form }}
            <input type="submit" class="btn" value="{% trans 'Search' %}">
        </div>
    </form>

        {% if query %}
        <div class="row">
          <div class="offset1">
            <h3>{% trans "Results" %}</h3>
            <ul class="unstyled">
            {% for result in page.object_list %}
                <li>
                  <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </li>
            {% empty %}
                <li>No results found.</li>
            {% endfor %}
            </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}

