{% load i18n %}
<div class="a" id="answer-{{answer.id}}">
   <div style="float:left;">
     {% if my_answer_id == answer.id %}
      <a id="edit-answer-{{answer.id}}" href="#add_answer_modal" data-toggle="modal">&#9998;</a>
     {% endif %}
      <p class="answer-author"><a href="{{ answer.author.get_absolute_url }}">{{answer.author.username}}</a></p>
  </div>
  <div class="avatar answer-avatar">
    <a href="{{ answer.author.get_absolute_url }}">
      <img src="{{ answer.author.get_profile.avatar_url }}">
    </a>
  </div>
  <div style="width:80%;">
    <p>{{ answer.content|linebreaksbr }}</p>
    <h5>{% trans "before" %} {{ answer.updated_at|timesince }}</h5>
  </div>
  <div class="clearfix"></div>
</div>

