{% load i18n %}
<div class="a">
  <div style="float:left;">
      <h3>{{ answer.rating }}</h3>
      <button class="btn"><a href="{% url qa.views.upvote_question question.id %}">&uarr;</button>
      <p><a href="{{ answer.author.get_absolute_url }}">{{answer.author.username}}</a></p>
  </div>
  <div class="avatar">
    <a href="{{ answer.author.get_absolute_url }}">
      <img src="{{ answer.author.get_profile.avatar_url }}">
    </a>
  </div>
  <div style="width:80%;">
    <p>{{ answer.content }}</p>
    <h5>{% trans "before" %} {{ answer.updated_at|timesince }}</h5>
  </div>
  <div class="clearfix"></div>
</div>

