{% extends "base.html" %} {% load i18n %}
{% block mainContainer %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="span9">
      <h1>{% trans "Questions" %} <small>{% trans "for candidate of" %}{% trans " The Demo Party" %}</small></h1>
      </div>
      <div class="span2 offset1 new-question">
      <a class="btn btn-success btn-large" href="{% url post_question %}">{% trans "Ask Question" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="row questions-wrapper">
  <div class="span9 questions">
  {% for question in questions %}
      {% include "qa/_question.html" %}
  {% endfor %}
  </div>
  <div class="span3 sidebar">
    <div class="module" id="questions-count">
        <div class="summarycount al">{{questions.count}}</div>
        <p>{% trans "Questions asked" %}</p>
    </div>
    <ul class="unstyled">
    {% for tag in tags %}
      <li><button class="btn">{{ tag }}</button> - {{tag.count}} {% trans "questions" %}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

