{% extends "base.html" %}
{% load i18n %}
{% block pageTitle %}{{question}}{% endblock %}
{% block extrahead %}
<style>
.question-summary { border: 0 none;}
</style>
{% endblock %}
{% block mainContainer %}
  <div class="container">
    <div class="row">
      <div class="span9">
        {% include "qa/_question.html" %}
      </div>
      {% if user.is_authenticated %}
      <div class="span3 sidebar">
        <a class="btn btn-primary {% if not can_upvote %}disabled{% endif %}"
          id="upvote-question" href="#">
          {% trans "I Want an Answer" %}
        </a>
        {% if can_answer %}
          <a class="btn btn-success btn-large" style="margin-top: 10px;" href="#add_answer_modal" data-toggle="modal">{% trans "Answer the Question" %}</a>
        {% endif %}
        <a class="btn btn-danger {% if not can_upvote %}disabled{% endif %}"
          id="flag-question" href="#" >&#9872;
        </a>
      </div>

      {% endif %}

    </div>
    <div class="row questions-wrapper">
      <div class="span9 answers">
        {% if answers %}
          <h5>
            {% trans 'Answers' %}
            <a href="{% url atom_question_answers question.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
              <img src="{{STATIC_URL}}img/rss.png" width="25" />
             </a>
          </h5>
        {% endif %}

        {% for answer in answers %}
          {% include "qa/_answer.html" %}
        {% empty %}
          <h5>{% trans "No Answers Yet" %}
            <a href="{% url atom_question_answers question.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
              <!-- <img src="/static/img/social-icons/colour/rss.png" width="25" /> -->
             </a>
          </h5>
        {% endfor %}
      </div>
      <div class="span3">
        
      </div>
    </div>
  </div>
{% if my_answer_form %}
<div class="modal fade" id="add_answer_modal">
 <form class="form" method="post" action="{% url post_answer question.id %}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>{{question.subject}}</h3>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {{ my_answer_form.as_p }}
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="{% trans "Publish" %}" />
  </div>
 </form>
</div>
{% endif %}
{% endblock %}
{% if my_answer_id %}
{% block extrascript %}
<script>
  $(document).ready ( function () {
    $("#upvote-question").ajaxError(function(evt, jqXHR, setting, err) {
              $("#messages").html('<div class="alert" class="error">' +
                '<button type="button" class="close" data-dismiss="alert">×</button>' +
                jqXHR.responseText + '</div>');
      });

    $("#upvote-question").click(function() {
      $.post("{% url upvote_question question.id %}",
          {csrfmiddlewaretoken: "{{ csrf_token }}"},
          function (data, status, jqXHR) {
            $("#votes-count-{{question.id}}").html(jqXHR.responseText);
      });
    })

    $("#flag-question").click (function() {
      $.post("{% url flag_question question.id %}",
          {csrfmiddlewaretoken: "{{ csrf_token }}"},
          function (data, status, jqXHR) {
              $("#messages").html('<div class="alert" class="info">' +
                '<button type="button" class="close" data-dismiss="alert">×</button>' +
                "{% trans 'Thank you for falgging the question. One of our editors will look at it shortly. ' %}" +
                 '</div>');
      });
    })

    $("#answer-{{ my_answer_id}}").hover(function() {
          $("#edit-answer-{{my_answer_id}}").show();
        }, function () {
          $("#edit-answer-{{my_answer_id}}").hide();
        });
  });
</script>
{% endblock %}
{% endif %}
