{% extends "base.html" %}
{% load i18n %}
{% block homeNav %}class="active"{% endblock %}
{% block mainContainer %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="span9">
      <h1>{% trans "Questions" %} <small>{% trans "for candidate of" %}{% trans " The Demo Party" %}
         {% if not current_tags %}
           <a href="{% url atom_all_questions %}" title="{% trans 'Subscribe' %}" rel="tooltip"><img src="/static/img/social-icons/colour/rss.png" width="25" /></a></small></h1>
         {% endif %}
      <ul class="nav nav-pills">
        {% for tag in current_tags %}
        <li><a class="btn" href="{% url show_tags tags=tag|urlencode %}">{{tag}}</a></li>
        {% endfor %}
      </ul>

      </div>
      {% if user.is_authenticated %}
        <div class="span2 offset1 new-question">
        <a class="btn btn-success btn-large" href="{% url post_question %}">{% trans "Ask Question" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row questions-wrapper">
  <div class="span9 questions">
  {% for question in questions %}
      {% include "qa/_question.html" %}
  {% endfor %}
  </div>
  <div class="span3 sidebar">
    <div class="module" id="questions-count">
        <div class="summarycount al">{{questions.count}}</div>
        <p>{% trans "Questions asked" %}</p>
    </div>
    <ul class="unstyled">
      {% for tag in tags %}
        <li><a class="btn" href="{% url show_tags tags=tag|urlencode %}">{{tag}}</a> - {{tag.count}} {% trans "questions" %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

