{% extends "base.html" %} {% load i18n %}
{% block mainContainer %}
    <div class="row">
      {% if user.is_authenticated %}
        <a  class="btn far" href="{% url post_question %}">{% trans "Ask" %}</a>
      {% endif %}
      <h1>{% trans "Questions for candidate of" %} {% trans "The Demo Party" %}</h1>
      <div class="span9" style="background-color: #f2f2f2;">
      {% for question in questions %}
          {% include "qa/_question.html" %}
      {% endfor %}
    </div>
    <div class="span3">
      <h3>{{questions.count}} {% trans "Questions asked" %}</h3>
      <ul class="unstyled">
      {% for tag in tags %}
        <li><button class="btn">{{ tag }}</button> - {{tag.count}} {% trans "questions" %}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
