#mainContainer{
    margin-top: 50px;
}
.q {
  clear: both;
  margin: 0.6em;
  background-color: #fafafa;
}
.a {
  clear: both;
  margin: 0.6em;
}
.footer {
    margin-top: 70px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.avatar {float:right; margin:5px; width:40px; height:40px;}
.far { float:left; }
.answers-count { display:inline; }

label[for='id_q'] {display: none;}
