body {
	background: whitesmoke;
  overflow-x: hidden;
}
.wrapper {
    background: #fff;
	margin: 0;
	width: 100%;
}
/* Main Container */
div[role="main"] {
    padding-bottom: 70px;
    padding-top: 110px;
}
/* Footer */
.footer {
padding: 70px 0;
border-top: 1px solid #E5E5E5;
background-color: whiteSmoke;
}
.footer p {
margin-bottom: 0;
color: #777;
}
.footer-links {
margin: 10px 0;
}
.footer-links li {
display: inline;
margin-left: 10px;
}
/* Questions */
h3 {
	font-weight: 200;
}
.new-question {
	margin-top: 10px;
	text-align: left;
}
.narrow {
font-size: 11px;
}
.question-summary {
overflow: hidden;
border-bottom: 1px solid #F1F1F1;
padding: 11px 0px 12px 0;
}
.cp {
cursor: pointer;
float: left;
height: 50px;
background-position: 0 0;
margin-right: 5px;
}
.narrow .votes {
padding: 6px 5px;
}
.narrow .votes {
float: left;
height: 38px;
width: 38px;
margin: 0 3px 0 0;
}
.votes {
padding: 0 0 7px 0;
text-align: center;
color: #777;
}
.narrow .answers {
padding: 6px 5px;
}
.narrow .answers {
float: left;
margin: 0 3px 0 0;
width: 48px;
height: 38px;
}

.mini-counts {
padding: 0 0 2px 0;
line-height: 24px;
font-size: 18px;
font-family: Arial,Helvetica,sans-serif;
}
.narrow .summary {
width: 500px;
}
.summary {
float: right;
width: 630px;
}
.summary h3 {
margin-bottom: 7px;
font-size: 15px;
line-height: 16px;
}
.tags {
line-height: 18px;
float: right;
}
.post-tag:visited {
color: #6A8491!important;
}
.post-tag {
color: #6A8491!important;
font-size: 11px;
display: inline-block;
background-color: #E3F5FF;
text-decoration: none;
white-space: nowrap;
overflow: visible;
margin: 2px 2px 2px 0;
padding: 0.20em 0.6em 0.20em 0.8em;
line-height: 16px;
border: 1px solid #BBD9E8;
background-color: #EFF9FF;
background: -webkit-gradient(linear, left top, left bottom, from(#FAFDFF), to(#E3F5FF));
background: -moz-linear-gradient(top, #FAFDFF, #E3F5FF);
background: -o-linear-gradient(top, #FAFDFF, #E3F5FF);
background: linear-gradient(top, #FAFDFF, #E3F5FF);
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 15px;
}
.narrow .started {
width: auto;
line-height: inherit;
padding-top: 4px;
white-space: nowrap;
}
.started {
width: 185px;
float: left;
line-height: 18px;
color: #999;
font-size: 12px;
line-height: 18px!important;
}
.relativetime { color: #999; }
.questions-wrapper { margin-top: -30px; }
.questions { border-left: 1px solid #EEE; }
#sidebar, .sidebar { margin: 12px 0 60px 0; margin-right: -1px;
  padding-right: 5px; border-right: 1px solid #EEE;
}
.module { color: #444; padding: 0 8px 2px 8px; margin-bottom: 10px; }
.summarycount { margin-top:10px; color: #ccc;
  font-size: 250%; font-weight: bold; }
.module p { font-size: 120%; line-height: 1.3; margin-bottom: 0.5em; }

/* Candidates */
.narrow {
font-size: 11px;
}
.candidate-summary {
overflow: hidden;
border-bottom: 1px solid #F1F1F1;
padding: 11px 0px 12px 0;
}
.cp {
cursor: pointer;
float: left;
height: 50px;
background-position: 0 0;
margin-right: 5px;
}
.narrow .avatar-container {
padding: 6px 10px;
}
.narrow .avatar-container {
float: right;
height: 38px;
width: 38px;
margin: 0 0 0 3px;
}
.avatar-container {
padding: 0 0 7px 0;
text-align: center;
color: #777;
width:26px;
}
.narrow .started {
width: auto;
line-height: inherit;
padding-top: 4px;
white-space: nowrap;
}
.started {
width: 185px;
float: left;
line-height: 18px;
color: #999;
font-size: 12px;
line-height: 18px!important;
}

/* Registration */
.errorlist {
	color: #B94A48;
	list-style: none;
	margin: 0;
}

/* Navbar */
.nav-other { margin-top:55px}
.nav form {
	margin: 0;
	padding: 0;
}

/* Login */
form { margin :0; }
.navbar .nav > li {padding-top: 14px;}
.navbar .nav > li > a {padding-top: 0px;}
.navbar-search {padding-top:4px; }
.nav-self {float:left!important; margin-top:10x;}

.form-actions {
	border-radius: 5px;
}

/* Answers */
.answers h5 {
	padding-bottom: 5px;
	margin-bottom:0;
	/*border-bottom: 1px solid #f1f1f1;*/
}
.answers {
margin-top: 10px;
padding-bottom: 10px;
color: #444;
font-size: 12px;
}
.answer {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #f1f1f1;
}
.avatar img {
	width: 40px;
	height: 40px;
}

a.answer-user.owner {
padding: 2px 5px 2px 5px;
}
a.answer-user {
white-space: nowrap;
padding: 0;
}
.owner {
background-color: #DEEDFF;
background-color: rgba(222, 237, 255, 0.4);
background-color: #E0EAF1;
}
.answer-date, .answer-date > a {
border-bottom: none;
color: #999;
}
.answer-text, .answer-form {
vertical-align: text-top;
padding: 0px 6px 0px 7px;
}

/* General */
textarea {
	width:97.5%;
	resize: none;
}
.helptext {
display: block;
margin-bottom: 10px;
}
.helptext {
color: #595959;
}
a.edit {
display: none;
}
a.edit:hover {
text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
#party-logo { height: 100px; width:100px; padding:0px; }
.post-question input[name="subject"] { width: 500px;}
.social-auth > li { display:inline;}
.page-header { border:none; }
