{% extends "base.html" %}
{% load i18n %}
{% block mainContainer %}
    <h1>{{ question.subject }}</h1>
    <div>
        {% blocktrans with question.author as author and question.created_at as date %}
            Asked by {{ author }} on {{ date }}
        {% endblocktrans %}
    </div>
    <p>{{ question.content }}</p>

    <p>{% trans "Tags" %}:
        {% for tag in question.tags.all %}
            <span>{{ tag }}</span>
        {% endfor %}
    </p>

    {% if answers %}
        <h1>{% trans "Answers" %}</h1>
        {% for answer in answers %}
            <p>{{ answer.content }}</p>
            by <a>{{ answer.author }}</a>
            on {{ answer.created_at }}
            <hr>
        {% endfor %}
    {% else %}
        <h1>{% trans "No answers" %}</h1>
    {% endif %}

    <form action="{% url qa.views.add_answer question.id%}" method="POST">
        {% csrf_token %}
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <button type="submit">{% trans "Submit" %}</button>
    </form>
{% endblock %}