{% load i18n %}
{% load humanize %}
שלומות,
אני שמח להזמינכם להשתתף באתר השאלות ותשובות שהוקם לקראת הבחירות לוועד.
כל אחד מחברי העמותה והציבור הרחב יכולים להעלות שאלות ולהצטרף לשאלות
קימות. את התשובות יתנו המועמדים.
vjanchr עדיין בפיתוח, כך שיתכנו באגים.  בבקשה השתמשו במערכת ועזרו לי לבדוק
אותה - התכנון היא להשתמש בה עבור הבחירות המקומיות הבאות עלינו לטובה.

בבקשה לחצו
<a href="http://{{ site.domain }}{% url 'accept-invitation' invitation_key %}">
כאן
</a>
להפעלת החשבון שלכם.  הקישור פעיל ל {{expiration_days}} כך שאם אתם מקבלים
הודעת שגיאה, שלחו לי דואל ואוסיף אתכם מחדש.

תודה ויום טוב,

בני
