{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block mainContainer %}
<div class="page-header">
  <h1>{% trans "Thank you for clicking. Please complete the form below to get started." %}</h1>
</div>
<form class="form-horizontal" method="POST">
  <div class="row">
    {% csrf_token %}
    {{ form|crispy }}
  </div>
  <div class="row">
    <div class="offset2">
      <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
    </div>
  </div>
</form>
{% endblock %}


