{% extends "base.html" %}
{% load i18n %}
{% block mainContainer %}
<div class="page-header" style="margin-bottom:0;">
    <h1>
        {% trans "Candidates" %}
    </h1>
</div>
{% for candidate in candidates %}
<div class="candidate-summary narrow" id="candidate-summary-{{ candidate.id }}">
    <div onclick="window.location.href='{{ candidate.get_absolute_url }}'
    class="cp">
        <div class="answers" title="">
            <div class="mini-counts">
                {{ candidate.answers.count }}
            </div>
            <div>
                {% trans "answers" %}
            </div>
        </div>
    </div>
    <div class="avatar-container">
      <a href="{{ candidate.get_absolute_url }}" title="{{ candidate.get_full_name }}"><img src="{{ candidate.get_profile.avatar_url|default:'/static/img/defaultavatar.png' }}" width="42" height="42" class="avatar img-circle"></a>
    </div>
    <div class="summary">
        <h3>
            <a href="{{ candidate.get_absolute_url }}" class="candidate-hyperlink"
            title="{{ candidate.username }}">{{ candidate.username }}</a>
        </h3>
        <div class="preview">
            {% trans 'Candidate bio here...' %}
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}
