{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <title>{% block pageTitle %}{% endblock %} | {% trans "The Demo Party" %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url home %}">{% trans "The Demo Party" %}</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{% url candidates %}">{% trans "Candidates" %}</a></li>
                  <li><a href="{% url members %}">{% trans "Members" %}</a></li>
                 </ul>
               <div class="far">
                    {% if user.is_authenticated %}
                     <form class="form-inline" method="post" action="{% url auth_logout %}">
                       {% csrf_token %}
                       {{ user.username }}
                       <input type="submit" value="{% trans 'logout' %}" />
                      </form>
                      {% else %}
                        <a href="{% url registration.views.register %}">{% trans "Register" %}</a></li>
                        <a type="button" class="btn" href="#login_modal" data-toggle="modal">{% trans "Login" %}</a>
                    {% endif %}
                  </form>
                </div>
             </div>
           </div>
        </div>
    </div>
</div>

{% if login_form %}
<div class="modal fade" id="login_modal">
 <form class="form" method="post" action="{% url auth_login %}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>{% trans "Connect" %}</h3>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {{ login_form }}
  </div>
  <div class="modal-footer">
    <input type="submit" value="{% trans "Login" %}" />
  </div>
 </form>
 <!--/.nav-collapse -->
</div>
{% endif %}
<div id="mainContainer" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block mainContainer %}{% endblock %}
</div>
<footer class="footer">


<footer class="footer">
  <div class="container">
    <p>
      {% trans "Content is licensed CC-BY. Source code is freely available " %} 
      <a href="http://hasadna.github.com/ok-qa/">{% trans "here"%}.</a>
    </p>
  </div>
</footer>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    {% block extrascript %} {% endblock %}
</body>
</html>
