{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <title>
      {% block pageTitle %}
      {% endblock %} 
      {% trans "The Demo Party" %}
    </title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div id="party-logo" class="brand">
        <a href="{% url home %}">
          <img src="{{ STATIC_URL }}{{ party.logo }}" title="{{party.site.name}}">
        </a>
      </div>
      <ul class="nav">
        <li><a href="/" {% block homeNav %}{% endblock %}>{% trans "Home" %}</a></li>
        <li><a href="{% url candidate_list %}">{% trans "Candidates" %}</a></li>
        <li><a href="/about/">{% trans "About" %}</a></li>
      </ul>
      <form class="navbar-search pull-left" action="/search/">
        <input type="text" name="q" id="id_q" class="search-query" placeholder="{% trans 'Search' %}" />
      </form>

      <ul class="nav pull-right">
      {% if user.is_authenticated %}
      <li class="divider-vertical"></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Welcome' %}, {{ user.username }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ user.get_absolute_url }}">{% trans 'my page' %}</a></li>
        <li><a href="{% url edit_profile %}">{% trans 'edit profile' %}</a></li>
        <form class="form-inline" method="post" action="{% url auth_logout %}">
          {% csrf_token %}
          <li><a href="javascript:;" class="submit-link">{% trans 'logout' %}</a></li>
        </form>
      </ul>

      {% else %}
        <li><a href="{% url registration.views.register %}">{% trans "Register" %}</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#login_modal" data-toggle="modal">{% trans "Login" %}</a></li>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% if login_form %}
<div class="modal fade" id="login_modal">
 <form id="login-form" class="form-horizontal" method="post" action="{% url login %}">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>{% trans "Connect" %}</h3>
  </div>
  <div class="modal-body">
    <div id="login-error" class="alert hide alert-error">
      {% trans "bad username/pasword" %}
    </div >
    {% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="inputUsername">{% trans 'Username' %}</label>
      <div class="controls">
      <input type="text" id="inputUsername" name="username" placeholder="{% trans 'Username' %}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">{% trans 'Password' %}</label>
      <div class="controls">
      <input type="password" id="inputPassword" name="password" placeholder="{% trans 'Password' %}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input  type="submit" class="btn btn-primary" value="{% trans "Login" %}" />
  </div>
 </form>
 <!--/.nav-collapse -->
</div>
{% endif %}

<div class="wrapper">
<div class="container" role="main">
  <div id="messages">
    {% if messages %}
      {% for message in messages %}
        <div class="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% block mainContainer %}{% endblock %}
</div>
</div>
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
    <p>{% trans "Content is licensed CC-BY. Source code is freely available " %} 
    <a href="http://hasadna.github.com/ok-qa/">{% trans "here"%}</a>.</p>
    <ul class="footer-links">
      <li>&copy;&nbsp;<a href="#">{% trans "The Demo Party" %}</a></li>
    </ul>
  </div>
</footer>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/trunk8.js"></script>
    <script>
    // wtf is this hack :/
      $("<input>")
        .attr('name', 'next')
        .attr('type', 'hidden')
        .attr('value', document.URL)
        .appendTo('#login-form');

        $(function() {
          // hack to auto submit the logout form for the login link (keeping up with rest and all that..)
          $('.submit-link').click(function(e) {
            e.preventDefault();
            $(this).parents('form').submit();
          })

          // truncate
          $('.too-long').trunk8();

          $('.too-long-toggle').trunk8({
            lines: 3,
            fill: '&hellip; <a id="read-more" href="#">{% trans "read more" %}</a>'
          });

          $('#read-more').live('click', function (event) {
            $(this).parent().trunk8('revert').append(' <a id="read-less" href="#">{% trans "read less" %}</a>');
            return false;
          });

          $('#read-less').live('click', function (event) {
            $(this).parent().trunk8();
            return false;
          });

          // tooltips
          $('[rel="tooltip"]').tooltip();
        });

      // handle the login form
      $(document).ready(function() {
        $('[href="#login_modal"]').click(function() {
          $('#login-error').hide();
        });
        $('#login-form').submit(function() { // catch the form's submit event
          $.ajax({ // create an AJAX call...
              data: $(this).serialize(), // get the form data
              type: $(this).attr('method'), // GET or POST
              url: $(this).attr('action'), // the file to call
              success: function(response) { // on success..
                  window.location = document.URL; 
              },
              error: function() {
                  $('#login-error').show();
              }
          });
          return false;
        })
      });
    </script>
    {% block extrascript %} {% endblock %}
</body>
</html>
