{% extends base_template %}
{% load i18n %}
{% block extrahead %}
  <style>
    .navbar-search { display: none; }
  </style>
{% endblock %}

{% block mainContainer %}
    <div class="page-header clearfix">
      <h1 class="pull-left">{% trans "Search" %}</h1>
      <form method="get" action="." class="form-search pull-right" style="margin-top:15px;">
        <div class="input-append">
            {% if entity %}
             <input type="hidden" name="place" value="{{entity.slug}}" />
             {% endif %}
            <input type="text" name="q" value="{{ form.q.value }}" id="id_q" class="span2 search-query">
            <button type="submit" class="btn">{% trans 'Search' %}</button>
        </div>
    </form>
    </div>

    {% if query %}
        <h3>{% trans "Results" %}</h3>
        <ul class="unstyled" class="search-result-list">
        {% for result in page.object_list %}
            <li class="search-result">
              {# crate a templatetag for this #}
              {% if result.object.rating %}
                {% with question=result.object %}
                  {% include "qa/_question.html" %}
                {% endwith %}
              {% else %}
                {% with answer=result.object %}
                  {% include "qa/_answer.html" %}
                {% endwith %}
              {% endif %}
            </li>
        {% empty %}
            <li>{% trans 'No results found.' %}</li>
        {% endfor %}
        </ul>

        {% if page.has_previous or page.has_next %}
            <ul class="pager">
                <li class="previous disabled">{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}{% trans '&laquo; Previous' %}{% if page.has_previous %}</a>{% endif %}</li>
                <li class="next">
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next &raquo;' %}{% if page.has_next %}</a>{% endif %}</li>
            </ul>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
