{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css?v=2"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/auth-buttons.css"/>
    <title>
      {% block pageTitle %} {% endblock %} {{ party.site.name }}
    </title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div id="party-logo" class="brand">
        <a href="{% url 'qna' entity %}">
            <img src="http://wiki.hasadna.org.il/images/SadnaLogo150x.png" title="{{party.site.name}}">
        </a>
      </div>
      {% if user.is_authenticated %}
      <ul class="nav nav-self">
      <li class="divider-vertical"></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Welcome' %}, {{ user.get_full_name|default:user.username }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{ user.get_absolute_url }}">{% trans 'my page' %}</a></li>
        <li><a href="{% url 'edit-profile' %}">{% trans 'edit profile' %}</a></li>
        {% if user.is_staff %}
            <li><a href="/admin/">{% trans 'admin' %}</a></li>
        {% endif %}
        <form class="form-inline" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <li><a href="javascript:;" class="submit-link">{% trans 'logout' %}</a></li>
        </form>
      </ul>
      </ul>

      {% else %}
      <ul class="nav pull-right">
        <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
      </ul>
      {% endif %}
      <div class="nav-other">
        <ul class="nav">
          <li {% block nav-questions %} {% endblock %}><a href="{% url 'qna' entity %}">{% trans "Questions" %}</a></li>
          <li {% block nav-candidates %} {% endblock %}><a href="{% url 'candidate_list' entity %}">{% trans "Candidates" %}</a></li>
          <li {% block nav-about %} {% endblock %}><a href="/p/about/">{% trans "About" %}</a></li>
        </ul>
        <form class="navbar-search pull-left" action="/search/">
          <input type="text" name="q" id="id_q" class="search-query" placeholder="{% trans 'Search' %}" />
        </form>
      </div>

      </div>
    </div>
  </div>
<div class="wrapper">
<div class="container" role="main">
  <div id="messages">
    {% if messages %}
      {% for message in messages %}
        <div class="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% block mainContainer %}{% endblock %}
</div>
</div>
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
    <p>{% trans "Content is licensed CC-BY. Source code is freely available " %} 
    <a href="https://github.com/hasadna/ok-qa/tree/local">{% trans "here"%}</a>.</p>
    <ul class="footer-links">
      <li>&copy;&nbsp;<a href="http://www.hasadna.org.il">{% trans "The Public Knowledge Workshop" %}</a></li>
    </ul>
  </div>
</footer>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/trunk8.js"></script>
    <script>

        $(function() {
          // hack to auto submit the logout form for the login link (keeping up with rest and all that..)
          $('.submit-link').click(function(e) {
            e.preventDefault();
            $(this).parents('form').submit();
          })

          // truncate
          /* There's an issue with trunk8 that needs fixing before we can
             uncomment the next lines:
             https://github.com/rviscomi/trunk8/issues/5
          $('.too-long').trunk8();

          $('.too-long-toggle').trunk8({
            lines: 3,
            fill: '&nbsp;<a class="read-more" href="#">&hellip;{% trans "read more" %}</a>'
          });

          $('.read-more').live('click', function (event) {
            $(this).parent().trunk8('revert').append('&nbsp;&nbsp; <a class="read-less" href="#">{% trans "read less" %}</a>');
            return false;
          });

          $('.read-less').live('click', function (event) {
            $(this).parent().trunk8();
            return false;
          });
          */

          // tooltips
          $('[rel="tooltip"]').tooltip();
        });

      {% if ANALYTICS_ID %}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ANALYTICS_ID}}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      {% endif %}

    </script>
    {% block extrascript %} {% endblock %}
</body>
</html>
