{% load i18n %}

{% with author_url=answer.author.get_absolute_url %}
<div id="answer-{{answer.id}}" class="answer" style="min-height: 35px; display: table">
  <div class="avatar-container" style="float:right; padding:6px 10px; display: table-cell; vertical-align: middle;">
    <a href="{{ author_url }}">
    <img class="avatar img-circle" style="width:25px;" src="{{ answer.author.profile.avatar_url|default:'/static/img/defaultavatar.png' }}">
    </a>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <div class="answer-text">
      <div>
        <span class="answer-copy">
          {{ answer.content|linebreaksbr }}
        </span>
        –&nbsp;
        <a href="{{ author_url }}" title="{{answer.author.get_full_name}}" rel="tooltip" class="answer-user owner">
          {{answer.author.get_full_name}}
        </a> 
        <span class="answer-date" dir="ltr">
          <a class="answer-link" href="{{answer.get_absolute_url}}">
            <span title="{{answer.updated_at}}" class="relativetime">
              {% trans "before" %} {{ answer.updated_at|timesince }}
            </span>
          </a>
        </span>
        {% if my_answer_id == answer.id %}
        <a id="edit-answer-{{answer.id}}" href="#add_answer_modal" class="edit" rel="tooltip" title="{% trans 'Edit' %}" data-toggle="modal">&#9998; {% trans 'Edit' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endwith %}
