{% load i18n %}
{% load url from future %}
<!-- Let's add the upvote and follow on hover -->
<div class="question-summary narrow" id="question-summary-{{ question.id }}">
    <div class="avatar-container" style="padding-top:15px;">
      <a href="{{ question.author.get_absolute_url }}" rel="tooltip" class="" title="{{question.author.get_full_name}}">
        <img src="{{ question.author.profile.avatar_url|default:'/static/img/defaultavatar.png' }}" width="42" height="42" class="avatar img-circle">
      </a>
    </div>
    <div onclick="window.location.href='{{ question.get_absolute_url }}'" class="cp">
        <div class="votes">
          <div class="mini-counts" id="votes-count-{{question.id}}">{{ question.rating }}</div>
            <div>{% trans "votes" %}</div>
        </div>
        {% with count=question.answers.count %}
          {% if count %}
          <div class="answers" title="">
              <div class="mini-counts">{{ count }}</div>
            <div>{% trans "answers" %}</div>
          </div>
          {% endif %}
        {% endwith %}
    </div>
    <div class="summary">
      <h3><a href="{{ question.get_absolute_url }}" class="question-hyperlink" title="{{ question.subject }}">{{ question.subject }}</a></h3>
        <div class="preview">
            {{ question.content }}
        </div>
        <div class="tags">
          {% for tag in question.tags.all %}
            <a href="{% url 'show_tags' entity tag|urlencode %}">{{tag}}</a>
          {% endfor %}
        </div>
        <div class="started">
            <span title="{{ question.created_at }}" class="relativetime">{% trans "before" %} {{ question.created_at|timesince }}</span>
            <a href="{{ question.author.get_absolute_url }}" rel="tooltip" class="answer-user owner" title="{{question.author.get_full_name}}">{{question.author.get_full_name|default:question.author.username}}</a>
            {% if not entity %}
              {% trans "from"%}
              <a href="{% url "qna" question.entity.slug %}">{{ question.entity }}</a>
            {% endif %}
        </div>
        {% if question.answers.count and show_responders %}        
        <div>
        <div  style="padding-top:15px;">
          <span class="candidates-answered">{% trans "candidates that answered" %}</span>
        </div>
          {% for answer in question.answers.all %}
          <div class="avatar-container" style="padding-top:15px;">
            <a href="{{ answer.author.get_absolute_url }}" rel="tooltip" class="" title="{{answer.author.get_full_name}}">
              <img src="{{ answer.author.profile.avatar_url|default:'/static/img/defaultavatar.png' }}" width="42" height="42" class="avatar img-circle" /><br/>
              <span>{{answer.author.get_full_name}}</span>
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
