{% extends "qa/qa_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/autoSuggest.css"/>
{% endblock %}

{% block mainContainer %}
<div class="page-header">
  {% if not slug %}
    <h1>{% trans "What is your question, sire?" %}</h1>
  {% else %}
    <h1>{% trans "Edit your question" %}</h1>
  {% endif %}
</div>

<form class="form-horizontal" method="POST">
  <div class="row post-question">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.js"></script>
    {% csrf_token %}
    {{ form|crispy }}
    <div id="charsCounter"><span id="charsLeft"></span> {% trans 'characters left' %}</div>
  </div>
  <div class="row">
    <div class="offset2">
      <button type="submit" class="btn btn-primary">{% trans 'Publish' %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extrascript %}
{% if max_length_q_subject %}
    <script>
	var $subject = $("#id_subject"),
	    $charsCounter = $("#charsCounter"),
	    $charsLeft = $("#charsLeft");

	$charsCounter.hide();
	$subject.on("keyup", function () {
	    var length = this.value.length;

	    if (length) $charsCounter.show();
	    else $charsCounter.hide();

	    $charsLeft.text({{ max_length_q_subject }} - length);
	});
    </script>
{% endif %}
{% endblock %}

