{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/autoSuggest.css"/>
{% endblock %}

{% block mainContainer %}
<div class="page-header">
  <h1>{% trans "What is your question, sire?" %}</h1>
</div>

<form class="form-horizontal" method="POST">
  <div class="row post-question">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.autoSuggest.js"></script>
    {% csrf_token %}
    {{ form|crispy }}
  </div>
  <div class="row">
    <div class="offset2">
      <button type="submit" class="btn btn-primary">{% trans 'Publish' %}</button>
    </div>
  </div>
</form>
{% endblock %}
