{% extends "base.html" %}
{% load i18n %}
{% block mainContainer %}
<div class="row">
  <div class="span4">
    <div class="avatar" style="float:right;">
      <img src="{{ candidate.get_profile.avatar_url }}">
    </div>
    <h1>{{ candidate.get_full_name}}</h1>
  </div>
  <div class="span8">
    <h2>{% trans "Answers" %}</h2>
    {% for answer in answers %}
      {% include "qa/_answer.html" %}
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block extrascript %}
<script>
  $(".answer-author").hide();
  $(".answer-avatar").hide();
</script>
{% endblock %}


