{% extends "candidate/candidate_base.html" %}
{% load i18n %}
{% block mainContainer %}
<div class="page-header" style="margin-bottom:0;">
    <h1>
        {% trans "Candidates" %}
    </h1>
</div>
<div class="row">
  <div class="span9">
  {% for candidate in candidates %}
    <div class="candidate-summary narrow" id="candidate-summary-{{ candidate.id }}">
        <div onclick="window.location.href='{{ candidate.get_absolute_url }}'"
        class="cp">
            <div class="answers" title="">
                <div class="mini-counts">
                    {{ candidate.answers.count }}
                </div>
                <div>
                    {% trans "answers" %}
                </div>
            </div>
        </div>
        <div class="avatar-container">
          <a href="{{ candidate.get_absolute_url }}" title="{{ candidate.get_full_name }}"><img src="{{ candidate.profile.avatar_url|default:'/static/img/defaultavatar.png' }}" width="42" height="42" class="avatar img-circle"></a>
        </div>
        <div class="summary">
            <h3>
                <a href="{{ candidate.get_absolute_url }}" class="candidate-hyperlink"
                title="{{ candidate.username }}">{{ candidate.get_full_name|default:candidate.username}}</a>
            </h3>
            <div class="preview">
              <span class="too-long-toggle"> {{ candidate.profile.bio }}</span>
            </div>
        </div>
        {% if user.profile.is_editor %}
        <div class="editor-options">
          <a href="#remove-candidate-{{candidate.id}}" role="button" class="btn" data-toggle="modal">{% trans "Remove Candidate" %}</a>
        </div>
<div id="remove-candidate-{{candidate.id}}" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Confirm Candidate Removal" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% blocktrans with candidate=candidate.get_full_name %}
      Are you sure you want to remove {{ candidate }} from the candidate list?
    {% endblocktrans %}</p>
  </div>
  <div class="modal-footer">
      <form method="post" action="{% url "remove_candidate" candidate.id %}">
        {% csrf_token %}
        <button name="remove" type="submit" value="1">{% trans "Remove" %}</button>
      </form>
  </div>
</div>
        {% endif %}
    </div>
  {% endfor %}
  </div>
  <div class="span3">
    {% blocktrans %}
      The Candidates biographies were given by the candidates themselvs and
      we can not guarntee their accuracy. The avatars are pulled from 
    {% endblocktrans %}
    <a href="http://gravatar.com">{% trans "here" %}</a>
  </div>
</div>
{% endblock %}
